.container {
  .center-fixed();

  width: 500px;
  height: 470px;
  margin: auto;

  @media @mobile-portrait {
    position: static;
    width: 100%;
  }

  @media @mobile-landscape {
    position: relative;
    width: 100%;
    min-width: 450px;
    height: 300px;
  }
}
