.eviolin {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 450px;
  background: url("../img/eviolin.jpg") no-repeat center top;
  background-size: content;

  @media @mobile-widths {
    width: 100%;
    height: 100%;
    background-size: content;
  }

  @media @mobile-landscape {
    width: 250px;
    height: 225px;
    background-position: left top;
    background-size: 250px 225px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 50px;
  }
}
