.menu {
  .reset-list();

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 450px;
  padding-bottom: 20px;
  background: url("../img/bg1.png") no-repeat -100px bottom,
              url("../img/bg2.png") no-repeat right bottom;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);

  @media @mobile-widths {
    box-shadow: none;
    background: url("../img/bg1.png") no-repeat -100px bottom;
  }

  @media @mobile-landscape {
    box-shadow: none;
    height: 100%;
    min-height: 280px;
    padding-bottom: 0;
    background: url("../img/bg1.png") no-repeat left bottom;
  }

  &__item {
    position: relative;
    padding-bottom: 20px;
  }

  &__link {
    display: block;
    height: 80px;
    padding-top: 56px;
    text-decoration: none;

    @media @mobile-landscape {
      padding-top: 0;
      height: 100%;
    }
  }

  &__main-text {
    display: block;
    height: 24px;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    letter-spacing: 6px;

    @media @mobile-landscape {
      position: relative;
    }
  }

  &__main-text::first-letter {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #1a1712;
  }

  &__main-text--travels::first-letter {
    margin-right: 12px;
    margin-left: 41px;
  }

  &__main-text--internet::first-letter {
    margin-right: 14px;
    margin-left: 41px;
  }

  &__main-text--moto::first-letter {
    margin-right: 6px;
    margin-left: 33px;
  }

  &__main-text--eviolin::first-letter {
    margin-right: 11px;
    margin-left: 37px;
  }

  &__bgr-text {
    position: absolute;
    left: 61px;
    bottom: 30px;
    letter-spacing: 0;
    white-space: nowrap;
    font-weight: normal;
    font-family: "Georgia", serif;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.05;

    @media @mobile-landscape {
      left: auto;
      right: -10px;
      bottom: -2px;
      transform: translate(100%);
      font-size: 30px;
    }
  }
}
