.js-linkHover > .guide {
  animation: guide-move 0.7s forwards, vanish 3s forwards;

  @media @mobile-portrait {
    animation: none;
  }

  @media @mobile-landscape {
    animation: none;
  }
}

.js-linkHover > .menu__text > .menu__bgr-text {
  animation: pulse 0.7s, flash 1s infinite;

  @media @mobile-portrait {
    animation: none;
  }

  @media @mobile-landscape {
    animation: none;
  }
}

.js-fadeAway {
  animation: vanish 1s forwards;
}

.js-fadeAway1s {
  animation: vanish 1s 1s forwards;
}

.js-linkChosen > .menu__text > .menu__bgr-text {
  animation: maxscaleaway 1s 1s forwards;

  @media @mobile-portrait {
    animation: maxscaleaway 1s 1s forwards;
  }

  @media @mobile-landscape {
    animation: maxscaleaway 1s 1s forwards;
  }
}

.js-scaleAway {
  animation: minscaleaway 1s 1s forwards;
}
