html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  .reset-spaces();
  min-width: 320px;
/*   color: @base-text-color;
background-color: @light-color;
font-family: @base-font-family;
font-size: @base-font-size;
line-height: @base-line-height; */
}

.js-show {
  display: block;
}

.js-hide {
  display: none;
}

